### yarn ###
# Zero-Install을 사용하겠다면?
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/**/*.tsbuildinfo
.next
dist
out
node_modules
turbo-build.log

# mac
.DS_Store

/app/server/public/avatar
/app/koi-server/dev/main.js
.env